@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  margin: 0px;
  -webkit-transition: .4s;
  transition: .4s;
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

body {
  background: #161616;
  color: #ff7b00;
  font-family: "Montserrat", sans-serif;
}

h1 {
  text-transform: capitalize;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.3rem;
  }
}

ul {
  padding: 0px;
  margin: 0px;
}

ul li {
  list-style: none;
}

ul li a {
  color: #ccc;
  text-decoration: none;
  display: block;
  margin: 8px;
  border: .5px solid transparent;
  padding: 10px;
}

ul li a:hover {
  background: #2a2a2a;
}

html {
  scroll-behavior: smooth;
}

.page {
  -webkit-animation: Pagetransition .4s 1 forwards linear;
          animation: Pagetransition .4s 1 forwards linear;
}

aside {
  overflow: hidden;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  text-align: center;
  -ms-grid-rows: 250px auto;
      grid-template-rows: 250px auto;
  top: 0px;
  left: 0px;
}

@media screen and (max-width: 600px) {
  aside {
    z-index: -2;
    opacity: 0;
    visibility: hidden;
  }
}

@media screen and (min-width: 600px) {
  aside {
    z-index: 5;
    background: #1b1b1b;
  }
}

@media screen and (max-width: 600px) {
  aside .close {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 10px;
    font-size: 2rem;
    z-index: 6;
  }
}

@media screen and (min-width: 600px) {
  aside .close {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  aside {
    position: -webkit-sticky;
    position: sticky;
  }
}

@media screen and (max-width: 600px) {
  aside {
    position: fixed;
    width: 100vw;
    -webkit-animation: RevelaHome 1.4s 1 forwards linear;
            animation: RevelaHome 1.4s 1 forwards linear;
  }
}

aside .aside-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  background: #1b1b1b;
}

@media screen and (max-width: 600px) {
  aside .aside-header {
    opacity: 0;
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}

aside nav {
  padding: 15px;
  background: #1b1b1b;
}

@media screen and (max-width: 600px) {
  aside nav {
    opacity: 0;
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
}

@media screen and (max-width: 600px) {
  .aside-header-active {
    -webkit-animation: NavAnimation2 .3s 1 forwards linear;
            animation: NavAnimation2 .3s 1 forwards linear;
  }
}

@media screen and (max-width: 600px) {
  .nav-active {
    -webkit-animation: NavAnimation1 .3s 1 forwards linear;
            animation: NavAnimation1 .3s 1 forwards linear;
  }
}

@media screen and (max-width: 600px) {
  .aside-active {
    z-index: 5;
    opacity: 1;
    visibility: visible;
  }
}

menu {
  display: none;
}

@media screen and (max-width: 600px) {
  menu {
    opacity: 1;
    z-index: 5;
    display: block;
    position: fixed;
    left: 10px;
    top: 20px;
    padding: 20px;
  }
  menu::before, menu::after {
    content: '';
    position: absolute;
    width: 50px;
    left: 0px;
    height: 8px;
    background: #ff7b00;
    border-radius: 5px;
  }
  menu::before {
    top: 5px;
    -webkit-transition: 2s;
    transition: 2s;
  }
  menu::after {
    width: 35px;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

@media screen and (max-width: 600px) {
  .menu-active {
    opacity: 0;
    left: 80%;
  }
}

@media screen and (min-width: 600px) {
  .main-layout {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 250px auto;
        grid-template-columns: 250px auto;
  }
}

.contact-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 600px;
}

@media screen and (max-width: 900px) {
  .contact-form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 600px) {
  .contact-form {
    max-width: 90%;
  }
}

.contact-form .describe {
  min-width: 300px;
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-form .describe h2 {
  position: relative;
  margin-bottom: 15px;
}

@media screen and (max-width: 900px) {
  .contact-form .describe h2 {
    margin-bottom: 30px;
    font-size: 2.3rem;
  }
}

.contact-form .describe h2::before {
  content: '';
  position: absolute;
  border: 2px solid #ff7b00;
  padding: 2px;
  background: #ff7b00;
  width: 30px;
  top: -10px;
  left: 0px;
  z-index: 2;
}

.contact-form .describe p {
  color: #ccc;
  margin-bottom: 20px;
}

@media screen and (min-width: 600px) {
  .contact-form .describe p {
    font-size: 1.4rem;
  }
}

.contact-form .describe .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact-form .describe a {
  text-decoration: none;
  color: #aaa;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 1.5rem;
  position: relative;
}

.contact-form form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #161616;
  position: relative;
  margin: 5px auto;
}

.contact-form form input,
.contact-form form textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #000;
  color: white;
  border: 4px solid #1e1e1e;
  margin: 10px;
  outline: none;
  padding: 1.2rem;
  font-size: 1.2rem;
  border-radius: 8px;
  min-width: 90%;
  max-width: 90%;
  position: relative;
  outline: none;
}

.contact-form form input:focus, .contact-form form input:valid,
.contact-form form textarea:focus,
.contact-form form textarea:valid {
  background: #000;
}

.contact-form form textarea {
  min-height: 200px;
  max-height: 600px;
}

.contact-form form button {
  border: 0px;
  padding: 10px;
  color: #ff7b00;
  border: 3px solid #ff7b00;
  outline: none;
  background: transparent;
  min-width: 90%;
  max-width: 90%;
  margin: 10px;
  border-radius: 4px;
}

.contact-form form button:hover {
  color: #fff;
  background: #ff7b00;
  border: 3px solid #ff7b00;
  cursor: pointer;
}

.contact-form .thanks-msg {
  position: fixed;
  right: 20px;
  padding: 10px;
  font-size: .8rem;
  top: 50%;
  color: white;
  background: #f700ff;
  border-radius: 4px;
  z-index: 5;
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transform: translateX(130px);
          transform: translateX(130px);
}

.thanks-msg-active {
  -webkit-animation: thanks 2s 1 forwards linear;
          animation: thanks 2s 1 forwards linear;
}

section.about {
  height: 100vh;
  position: relative;
}

section.about .h1 {
  z-index: 1;
}

section.about .bg-image {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

section.about .bg-image::after {
  z-index: 1;
  content: '';
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0px;
  right: 0px;
  background: -webkit-gradient(linear, left bottom, right top, from(#000), to(rgba(0, 0, 0, 0.1)));
  background: linear-gradient(to top right, #000, rgba(0, 0, 0, 0.1));
  background: -webkit-gradient(linear, left top, right top, from(#000), to(rgba(0, 0, 0, 0.1)));
  background: linear-gradient(to right, #000, rgba(0, 0, 0, 0.1));
}

section.about .bg-image img {
  -webkit-animation: RevelaHome 2s 1 forwards linear;
          animation: RevelaHome 2s 1 forwards linear;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
}

section.about .main-content {
  position: absolute;
  z-index: 3;
  color: #ff7b00;
  height: 100%;
  width: 100%;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

section.about .main-content div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

section.about .main-content h1 {
  opacity: 0;
  padding: 20px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: text-to-top 0.7s 1 forwards cubic-bezier(0.4, 0, 0.1, 2.1);
          animation: text-to-top 0.7s 1 forwards cubic-bezier(0.4, 0, 0.1, 2.1);
}

@media screen and (max-width: 600px) {
  section.about .main-content h1 div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media screen and (min-width: 600px) {
  section.about .main-content h1 div {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    padding-left: 150px;
    padding-bottom: 50vh;
  }
}

.who-am-i {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 90%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 30px 0 0 20px;
}

.who-am-i h1 {
  position: relative;
  left: 10px;
}

@media screen and (max-width: 600px) {
  .who-am-i {
    margin-top: 80px;
  }
}

@media screen and (min-width: 1090px) {
  .who-am-i {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

.who-am-i p {
  color: #fff;
  text-align: justify;
  max-width: 500px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 18px;
}

@media screen and (min-width: 600px) {
  .who-am-i p {
    font-size: 1.5rem;
  }
}

.who-am-i .h1 {
  height: 4.8rem;
}

.who-am-i table {
  position: relative;
  left: 10px;
  margin-bottom: 100px;
}

.who-am-i td {
  padding: 10px;
}

.who-am-i td:nth-of-type(even) {
  color: #fff;
}

.education-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.education-container h1 {
  margin-left: 20px;
}

.education-container .education {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 500px;
}

.education-container .education div.container {
  margin: 50px 10px;
  padding: 20px;
  text-align: right;
  color: #ccc;
}

.education-container .education div.container .content {
  padding: 20px 10px;
  margin: 20px 0;
  border-left: 3px solid #ff7b00;
}

.education-container .education div.container h2 {
  color: #ff7b00;
}

.education-container .education div.container h4 {
  text-align: left;
}

.education-container .my-skills {
  position: relative;
  margin-left: 10px;
  color: #ccc;
}

.education-container .my-skills h1 {
  color: #ff7b00;
  margin: 10px 0;
  margin-bottom: 50px;
}

@media screen and (min-width: 600px) {
  .education-container .my-skills h1 {
    margin-bottom: 100px;
  }
}

.education-container .my-skills h2 {
  color: #ff7b00;
  margin: 12px 0;
}

.education-container .my-skills table td:nth-of-type(odd) {
  min-width: 150px;
}

.education-container .my-skills table td .level {
  position: relative;
  width: 120px;
  padding: 6px;
}

.education-container .my-skills table td .level span {
  position: absolute;
  padding: 3px;
  left: 0px;
  background: #52ff27;
  border-radius: 2px;
}

.time-line-container {
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px auto;
}

.time-line-container h1 {
  margin: 50px 0px;
}

.time-line {
  position: relative;
}

@media screen and (min-width: 880px) {
  .time-line {
    min-width: 650px;
  }
}

.time-line::before {
  content: '';
  position: absolute;
  border: 1px solid #e642e6;
  height: 0%;
  top: 0px;
  opacity: 0;
  -webkit-animation: expaaTimeline 1s 1s 1 forwards linear;
          animation: expaaTimeline 1s 1s 1 forwards linear;
}

@media screen and (min-width: 880px) {
  .time-line::before {
    left: 50%;
  }
}

@media screen and (min-width: 600px) and (max-width: 880px) {
  .time-line::before {
    left: -5px;
  }
}

@media screen and (max-width: 600px) {
  .time-line::before {
    left: 0%;
  }
}

.time-line h3 {
  font-size: 2rem;
  text-transform: capitalize;
}

@media screen and (max-width: 600px) {
  .time-line ul {
    margin-left: 8px;
  }
}

.time-line ul p {
  color: #ccc;
  text-align: justify;
  text-justify: inter-ideograph;
}

.time-line ul li {
  position: relative;
  background: #000;
  max-width: 250px;
  padding: 20px;
  margin: 5px;
  border-right: 4px solid transparent;
  border-left: 4px solid greenyellow;
  border-radius: 0 8px 8px 0;
  float: right;
  clear: both;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.time-line ul li:nth-child(1) {
  -webkit-animation: fadFromTop 0.3s 0.3s 1 forwards linear;
          animation: fadFromTop 0.3s 0.3s 1 forwards linear;
}

.time-line ul li:nth-child(2) {
  -webkit-animation: fadFromTop 0.6s 0.6s 1 forwards linear;
          animation: fadFromTop 0.6s 0.6s 1 forwards linear;
}

.time-line ul li:nth-child(3) {
  -webkit-animation: fadFromTop 0.9s 0.9s 1 forwards linear;
          animation: fadFromTop 0.9s 0.9s 1 forwards linear;
}

.time-line ul li:nth-child(4) {
  -webkit-animation: fadFromTop 1.2s 1.2s 1 forwards linear;
          animation: fadFromTop 1.2s 1.2s 1 forwards linear;
}

.time-line ul li .time-map {
  font-size: .7rem;
}

.time-line ul li::before {
  content: '';
  position: absolute;
  max-height: 20px;
  max-width: 20px;
  min-height: 15px;
  min-width: 15px;
  background: #e642e6;
  border-radius: 50%;
  top: -5px;
}

@media screen and (min-width: 880px) {
  .time-line ul li:nth-of-type(odd)::before {
    right: -35px;
  }
}

@media screen and (min-width: 600px) and (max-width: 880px) {
  .time-line ul li:nth-of-type(odd)::before {
    left: -20px;
  }
}

@media screen and (max-width: 600px) {
  .time-line ul li:nth-of-type(odd)::before {
    left: -23px;
  }
}

.time-line ul li:nth-of-type(even)::before {
  left: -33px;
}

@media screen and (min-width: 600px) and (max-width: 880px) {
  .time-line ul li:nth-of-type(even)::before {
    left: -20px;
  }
}

@media screen and (max-width: 600px) {
  .time-line ul li:nth-of-type(even)::before {
    left: -23px;
  }
}

.time-line ul li:nth-of-type(odd) {
  border-radius: 0 8px 8px 0;
  border-right: 4px solid transparent;
  border-left: 4px solid greenyellow;
  float: left;
  clear: both;
}

@media screen and (min-width: 880px) {
  .time-line ul li:nth-of-type(odd) {
    border-left: 4px solid transparent;
    border-right: 4px solid greenyellow;
    border-radius: 8px 0 0 8px;
  }
}

@-webkit-keyframes text-to-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes text-to-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes Pagetransition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Pagetransition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes RevelaHome {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes RevelaHome {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes NavAnimation1 {
  0% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes NavAnimation1 {
  0% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes NavAnimation2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes NavAnimation2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes expaaTimeline {
  0% {
    height: 0%;
    opacity: 0;
  }
  50% {
    height: 50%;
    opacity: 1;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}

@keyframes expaaTimeline {
  0% {
    height: 0%;
    opacity: 0;
  }
  50% {
    height: 50%;
    opacity: 1;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}

@-webkit-keyframes fadFromTop {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadFromTop {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes thanks {
  0% {
    -webkit-transform: translateX(130px);
            transform: translateX(130px);
  }
  10% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  90% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(130px);
            transform: translateX(130px);
  }
}

@keyframes thanks {
  0% {
    -webkit-transform: translateX(130px);
            transform: translateX(130px);
  }
  10% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  90% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(130px);
            transform: translateX(130px);
  }
}
/*# sourceMappingURL=main.css.map */