section.about {
    height: 100vh;
    position: relative;

    .h1 {
        z-index: 1;
    }

    .bg-image {
        position: absolute;
        height: 100%;
        width: 100%;
        filter: brightness(50%);

        &::after {
            z-index: 1;
            content: '';
            position: absolute;
            height: 100vh;
            width: 100vw;
            top: 0px;
            right: 0px;
            background: linear-gradient(to top right, #000, rgba(0, 0, 0, 0.1));
            background: linear-gradient(to right, #000, rgba(0, 0, 0, 0.1));
        }

        img {
            animation: RevelaHome 2s 1 forwards linear;
            position: absolute;
            top: 0px;
            right: 0px;
            height: 100%;
            // animation: Revela 1s 1 forwards linear;
            // opacity: .3;
        }
    }

    .main-content {
        position: absolute;
        z-index: 3;
        color: $color;
        height: 100%;
        width: 100%;
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;

        div {
            flex: 1;
        }

        h1 {
            opacity: 0;
            padding: 20px;
            text-align: left;
            display: flex;
            animation: text-to-top .7s 1 forwards cubic-bezier(0.4, 0, 0.1, 2.1);

            div {
                @include sm {
                    flex: 1;
                }

                @include lg {
                    flex: 0;
                    padding-left: 150px;
                    padding-bottom: 50vh;
                }
            }
        }
    }
}

.who-am-i {
    position: relative;
    display: flex;
    max-width: 90%;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-around;
    margin: 30px 0 0 20px;

    // align-items: center;
    h1 {
        position: relative;
        left: 10px;
    }

    @include sm {
        margin-top: 80px;
    }

    @include lg-s(1090px) {
        grid-template-columns: 50% 50%;
    }

    p {
        color: #fff;
        text-align: justify;
        max-width: 500px;

        @include lg {
            font-size: 1.5rem;
        }

        box-sizing: border-box;
        padding: 18px;
    }


    .h1 {
        height: 4.8rem;
    }

    table {
        position: relative;
        left: 10px;
        margin-bottom: 100px;
    }

    td {
        padding: 10px;

        &:nth-of-type(even) {
            color: #fff;
        }
    }
}

.education-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    h1 {
        margin-left: 20px;
    }
    .education {
        box-sizing: border-box;
        max-width: 500px;

        div.container {
            margin: 50px 10px;
            padding: 20px;
            text-align: right;
            color: #ccc;

            .content {
                padding: 20px 10px;
                margin: 20px 0;
                border-left: 3px solid $color;
            }

            h2 {
                color: $color;
            }

            h4 {
                text-align: left;
            }
        }
    }

    .my-skills {
        position: relative;
        margin-left:10px;
        color: #ccc;

        h1 {
            color: $color;
            margin: 10px 0;
            margin-bottom: 50px;
            @include lg{ margin-bottom: 100px; }
        }

        h2 {
            color: $color;
            margin: 12px 0;
        }

        table {
            td {
                &:nth-of-type(odd) {
                    min-width: 150px;
                }

                .level {
                    position: relative;
                    width: 120px;
                    padding: 6px;

                    // background: #000;
                    span {
                        position: absolute;
                        padding: 3px;
                        left: 0px;
                        background: rgb(82, 255, 39);
                        border-radius: 2px;
                    }
                }
            }
        }
    }
}